.dropdown-block {
  // width: 350px;
  // height: 30px;
  // background-color: #fff;
  .dropdown-genres {
    .dropdown-btn {
      background-color: aquamarine;
    }
    .dropdown-content {
      background-color: crimson;
      color: blueviolet;
    }
  }
}
