.header {
  display: flex;
  justify-content: space-between;
  max-width: 86.25rem;
  height: 75px;
  background-color: #262626;
  border-bottom: 2px solid #eb565b;
  margin: 0 auto;
  .logo-container {
    display: flex;
    flex: 2;
    height: 70px;
    width: 300px;
    .logo {
      cursor: pointer;
      height: 35px;
      width: 35px;
      margin: 20px;
      margin-right: 10px;
      margin-left: 10px;
    }
    h2 {
      cursor: pointer;
      font-size: 2.5rem;
      margin-top: 17px;
      color: white;
    }
  }
  .connection-container {
    display: flex;
    flex: 1;
    justify-content: flex-end;
    height: 80px;
    width: 550px;
    .collection {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      width: 250px;
      color: white;
      p {
        cursor: pointer;
        font-size: 1.4rem;
      }
    }
    .login-signup {
      max-width: 300px;
      display: flex;
      align-items: center;
      justify-content: space-around;
      margin-right: 15px;
      a {
        display: flex;
        align-items: center;
        justify-content: center;
        text-decoration: none;
        border-radius: 8px;
        width: 100px;
        height: 30px;
        background: #eb565b;
        cursor: pointer;
        color: white;
        margin-right: 15px;
        margin-left: 15px;
      }
    }
    @media screen and (max-width: 768px) {
      .login-signup {
        max-width: 300px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        margin-right: 15px;
        a {
          display: flex;
          align-items: center;
          justify-content: center;
          text-decoration: none;
          border-radius: 8px;
          width: 80px;
          height: 20px;
          background: #eb565b;
          cursor: pointer;
          color: white;
          // margin-right: 15px;
          // margin-left: 15px;
        }
      }
    }
  }
}
