/* Other rules */
@import url("https://fonts.googleapis.com/css2?family=Exo+2:wght@300&display=swap");
* {
  box-sizing: border-box;
}

body {
  width: 100vw;
  display: flex;
  flex-direction: column;
  background-color: #171717;
  font-family: "Exo 2", sans-serif;
  text-decoration: none;
}
